<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!--    <script type="text/javascript">-->
<!--        $(document).ready(function() {-->
<!--            $("#user_names").autocomplete({-->
<!--                source: ["a","aa","aaa","b","bb","bbb","c"],-->
<!--                // source: list,-->
<!--                // source: "/GET/api/users",-->
<!--                minLength: 1-->
<!--            });-->

<!--        });-->
<!--    </script>-->

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/projects}"><h4>Project Management System</h4></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects}">Project Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <br>
            <h1 class="text-center">Add New Member</h1>
            <div class="card-body">
                <form th:action="@{/projects/addMember/{id}(id=${project.id})}" method="POST">
                    <div class="form-group">
                        <b><label>UserName</label></b>
                        <input
                                id="user_names"
                                type="text"
                                name = "username"
                                class="form-control"
                                placeholder="Enter UserName of the Member"
                        />
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>