<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Project Management System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/projects}"><h4>Project Management System</h4></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" th:href="@{/projects}">Project Management</a>-->
<!--      </li>-->
    </ul>
  </div>
</nav>

<div th:if="${session.failuremessage}"
     th:classappend="${session.failuremessage}" class="alert alert-danger error" role="alert">

  <p th:text="${session.failuremessage}"></p>
  <th:block th:text="${#session.removeAttribute('failuremessage')}"></th:block>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <br>
      <h1 class="text-center">Create New Project</h1>
      <hr>
      <div class="card-body">
        <form th:action="@{/projects}" th:object="${project}" method="POST">
          <div class="form-group">
            <b><label>Project Name*</label></b>
            <input
                    type="text"
                    name = "name"
                    th:field = "*{name}"
                    class="form-control"
                    placeholder="Enter Project Name"
            />
          </div>

          <div class="form-group">
            <b><label>Introduction</label></b>
            <input
                    type="text"
                    name = "intro"
                    th:field = "*{intro}"
                    class="form-control"
                    placeholder="Enter Introduction"
            />
          </div>

          <div class="form-group">
            <b><label>Status</label></b>
            <input
                    type="number"
                    name = "status"
                    th:field = "*{status}"
                    class="form-control"
                    placeholder="Enter Status of the Project"
            />
          </div>

          <div class="form-group">
            <b><label>Start Date*</label></b>
            <input
                    type="date"
                    name = "start"
                    th:field = "*{start}"
                    class="form-control"
                    placeholder="Enter Start Date"
            />
          </div>

          <div class="form-group">
            <b><label>End Date*</label></b>
            <input
                    type="date"
                    name = "end"
                    th:field = "*{end}"
                    class="form-control"
                    placeholder="Enter End Date"
            />
          </div>


          <div class="box-footer">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>