<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/projects}"><h4>Project Management System</h4></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/projects}">Project Management</a>-->
<!--            </li>-->
        </ul>
    </div>
</nav>
<br>
<br>


<div class="container">
    <div class="col">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <br>
            <h1 class="text-center">Project Details</h1>
            <hr>
            <div class="card-body">
                <div>
                    <div>
                        <h4>Project Name -</h4>
                        <p th:text="${project.name}"></p>
                    </div>
                    <div>
                        <h4>Owner Name -</h4>
                        <p th:text="${project.owner_name}"></p>
                    </div>
                    <div>
                        <h4>Introduction -</h4>
                        <p th:text="${project.intro}"></p>
                    </div>
                    <div>
                        <h4>Status -</h4>
                        <p th:text="${project.status}"></p>
                    </div>
                    <div>
                        <h4>Start -</h4>
                        <p th:text="${project.start}"></p>
                    </div>
                    <div>
                        <h4>End -</h4>
                        <p th:text="${project.end}"></p>
                    </div>
                    <div>
                        <h4>Number of Members -</h4>
                        <p th:text="${project.numberOfProjectMembers}"></p>
                    </div>
                </div>
                <label><h4>Member Names -</h4></label>
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr th:each="member: ${members}">
                        <td th:text="${member.username}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>